:root {
  --background-dark: #131313;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1300px;
}

html,
body {
  height: 100%;
}
body {
  background-color: #131313;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
[x-cloak] {
  display: none !important;
}
.logo:hover .logo-svg {
  transform: rotateY(180deg);
}
.btn--animateglowPink {
  --border-size: 6px;
  --border-angle: 0turn;
  background-image: conic-gradient(from var(--border-angle), #131313, #131313 50%, #131313), conic-gradient(from var(--border-angle), transparent 20%, #d33cf2, transparent);
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: 8s linear infinite bg-spin;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas: "layer";
  place-items: center;
  border-radius: 50%;

  --radius: 250px;
  width: 100%;
  min-height: 100%;
  transition: all 0.3s ease;
}
.stat {
  grid-area: layer;
  --d: calc(var(--i) / var(--total));
  --r-offset: -0.25turn;
  --r-amount: 1turn;
  --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
  --transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));
  transform: var(--transform);
}
.glass {
  background: rgba(255, 255, 255, 0.26) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(9.3px) !important;
  -webkit-backdrop-filter: blur(9.3px) !important;
}
@media (max-width: 1280px) {
  .stat {
    --radius: 25vmin !important;
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
@keyframes floatdown {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-5px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-5px);
  }
}

/* FilterCard */
.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #131313 0%, #131313 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* Footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #131313;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* Video */
.cardvideo {
  position: absolute;
  bottom: -43%;
  /* right: 5%; */
  left: 5%;
  text-align: center;
  color: #272243;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
  width: 320px;
  overflow: hidden;
  -webkit-animation: updown 3s ease 6;
  animation: updown 3s ease 6;
}
.cardvideo::before {
  content: "";
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
  border-left-color: rgba(255, 255, 255, 0.9);
  border-left-width: 30px;
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 2;
  transform: translatex(calc(-50% + 15px));
  filter: drop-shadow(5px 5px 4px #000);
  pointer-events: none;
}
.cardvideo h1 {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}
@-webkit-keyframes updown {
  0%,
  50%,
  100% {
    transform: translatey(0);
  }
  20% {
    transform: translatey(5px);
  }
  25% {
    transform: translatey(-20px);
  }
  30% {
    transform: translatey(20px);
  }
  35% {
    transform: translatey(-5px);
  }
}
@keyframes updown {
  0%,
  50%,
  100% {
    transform: translatey(0);
  }
  20% {
    transform: translatey(5px);
  }
  25% {
    transform: translatey(-20px);
  }
  30% {
    transform: translatey(20px);
  }
  35% {
    transform: translatey(-5px);
  }
}

/* AboutUS */
section.light {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text horizontally */
  height: 40vh; /* Optional: This ensures it takes up full height of the viewport */
  background-color: #525252; /*Optional: adjust the background if needed */
}

header.title h2 {
  font-size: 30px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #000000;
}

/* Style for colored span inside the h2 */
.light h2 span {
  color: #ff5e14;
}

header.title p {
  color: #f0f0f0; /* Optional: adjust color of the paragraph */
  font-size: 18px; /* Optional: adjust size of the paragraph */
  margin: 0 auto;
  max-width: 900px; /* Optional: limits the width of the paragraph */
}

.wrapper3d {
  transition: all 0.5s;
  /* position: absolute; */
  width: 100%;
  z-index: -1;
}

.card3d:hover .wrapper3d {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  /* box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
  /* -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
}

.character3d {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card3d:hover .character3d {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/* 404NotFound */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

.shelf {
  position: relative;
  width: 45rem;
  height: 21rem;
  margin: 0 auto;
  border: 0.5rem solid #374d5b;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  perspective: 130rem;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.2);
  background-color: #446072;
  top: -50%;
}
.door {
  position: absolute;
  width: 22.2rem;
  height: 21rem;
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #374d5b;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  outline: 1px solid transparent;
}
.door::before {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}
.door.left {
  border-radius: 0 0.75rem 0.75rem 0;
  justify-content: flex-end;
  -webkit-animation: leftDoorOpen 3.5s ease-out forwards 1s, leftDoorFlap 15s linear infinite forwards 9s;
  animation: leftDoorOpen 3.5s ease-out forwards 1s, leftDoorFlap 15s linear infinite forwards 9s;
  transform-origin: 0 0 0;
}
.door.right {
  right: 0;
  border-radius: 0.75rem 0 0 0.75rem;
  -webkit-animation: rightDoorOpen 3s ease-out forwards 1.5s, rightDoorFlap 10s linear infinite forwards 8s;
  animation: rightDoorOpen 3s ease-out forwards 1.5s, rightDoorFlap 10s linear infinite forwards 8s;
  transform-origin: 100% 0 0;
}
.book {
  position: absolute;
  box-sizing: border-box;
  padding: 0.8rem 4rem 0.8rem 2rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: inset 0 0 0.75rem rgba(255, 255, 255, 0.1);
}
.book.home-page {
  transform: rotate(-90deg) translate(-12.4rem, 3rem);
  transform-origin: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}
.book.about-us {
  transform: rotate(-100deg) translate(-13.4rem, 6.1rem);
  transform-origin: 0;
  outline: 1px solid transparent;
}
.book.contact {
  right: 2rem;
  bottom: 0.2rem;
  border-radius: 0.3rem 0 0 0.3rem;
}
.book.faq {
  right: 0.8rem;
  bottom: 3.3rem;
  border-radius: 0.3rem 0 0 0.3rem;
}
.book.not-found {
  width: 12rem;
  height: 3.5rem;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  background-color: transparent;
  transform: rotate(-90deg) translate(-12rem, 13rem) scale(1);
  transform-origin: 0;
  cursor: default;
  -webkit-animation: bookFadeOut 1s 3s infinite forwards;
  animation: bookFadeOut 1s 3s infinite forwards;
}
.book.not-found::after {
  display: block;
  width: 10rem;
  padding-left: 5rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='30'><path fill='rgb(255, 255, 255)' d='M7.688,3.737C6.1,10.409,4.624,16.982,2.475,23.517c-0.424,1.29,0.724,2.338,1.957,1.916 c5.879-2.021,11.743-4.107,17.409-6.696c1.246-0.572,0.443-2.366-0.815-1.932c-3.856,1.333-7.695,2.69-11.565,3.959 c2.879-2.526,5.485-5.215,9.013-7.17c4.441-2.459,9.299-4.109,14.281-4.915c10.903-1.772,22.052,0.562,31.979,5.04 c9.241,4.162,12.895,8.725,13.164,4.942c0.121-1.69-5.57-4.953-14.125-8.714C53.19,5.292,41.094,3.539,29.636,6.058 c-7.122,1.567-16.708,5.374-22.064,11.544c1.359-4.455,2.461-9.028,3.032-13.563C10.852,2.091,8.12,1.927,7.688,3.737z'/></svg>");
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: left center;
  font-family: "Dancing Script";
  text-transform: lowercase;
  font-size: 25px;
  content: "this page can't be found";
  transform: rotate(90deg) translate(6rem, -1rem);
  opacity: 0.3;
}
.book:hover:not(.not-found) {
  background-color: rgba(255, 255, 255, 0.2);
}
.text-error {
  text-align: center;

  font-size: 3rem;
  margin-bottom: 1rem;
  top: 50%;
}

.colorwhite-text-error {
  color: #fff; /* Sesuaikan dengan warna yang diinginkan */
}
.colorred-text-error {
  color: #8a0c0c; /* Sesuaikan dengan warna yang diinginkan */
}

@-webkit-keyframes leftDoorOpen {
  60% {
    transform: rotateY(-115deg);
  }
  100% {
    transform: rotateY(-110deg);
  }
}
@keyframes leftDoorOpen {
  60% {
    transform: rotateY(-115deg);
  }
  100% {
    transform: rotateY(-110deg);
  }
}
@-webkit-keyframes rightDoorOpen {
  60% {
    transform: rotateY(125deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@keyframes rightDoorOpen {
  60% {
    transform: rotateY(125deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@-webkit-keyframes rightDoorFlap {
  0% {
    transform: rotateY(120deg);
  }
  5% {
    transform: rotateY(125deg);
  }
  15% {
    transform: rotateY(117deg);
  }
  25% {
    transform: rotateY(123deg);
  }
  30% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@keyframes rightDoorFlap {
  0% {
    transform: rotateY(120deg);
  }
  5% {
    transform: rotateY(125deg);
  }
  15% {
    transform: rotateY(117deg);
  }
  25% {
    transform: rotateY(123deg);
  }
  30% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@-webkit-keyframes leftDoorFlap {
  0% {
    transform: rotateY(-110deg);
  }
  5% {
    transform: rotateY(-115deg);
  }
  15% {
    transform: rotateY(-107deg);
  }
  25% {
    transform: rotateY(-113deg);
  }
  30% {
    transform: rotateY(-110deg);
  }
  100% {
    transform: rotateY(-110deg);
  }
}
@keyframes leftDoorFlap {
  0% {
    transform: rotateY(-110deg);
  }
  5% {
    transform: rotateY(-115deg);
  }
  15% {
    transform: rotateY(-107deg);
  }
  25% {
    transform: rotateY(-113deg);
  }
  30% {
    transform: rotateY(-110deg);
  }
  100% {
    transform: rotateY(-110deg);
  }
}
@-webkit-keyframes bookFadeOut {
  50% {
    border: 1px dashed rgba(255, 255, 255, 0.1);
  }
}
@keyframes bookFadeOut {
  50% {
    border: 1px dashed rgba(255, 255, 255, 0.1);
  }
}
